h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 6rem;
}

.ring{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:5px solid black;
    background: none;
    box-shadow: 1px 1px 3px red;
}

.ring-1{

}

.ring-2{

}

.ring-3{

}